flows.json
[
    {
        "id": "d12867c082d92e22",
        "type": "tab",
        "label": "MQTT flow",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "4f7d529023a9b544",
        "type": "tab",
        "label": "Simple button",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "1472062f49c017cb",
        "type": "tab",
        "label": "Prototype",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96cb48750b368e6e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c20ebb918e10caa2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "968ee3a954b5fe08",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3bdfb04da7eb1211",
        "type": "mqtt-broker",
        "d": true,
        "name": "CheerLights MQTT",
        "broker": "mqtt.cheerlights.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2524c4111e58b72d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "02daa27376c86de2",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "3585e2dbfcd948449aec8ccf1eb8912d.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "2524c4111e58b72d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1efc8608502718bf",
        "type": "mqtt out",
        "z": "d12867c082d92e22",
        "name": "Publish Random",
        "topic": "Random",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02daa27376c86de2",
        "x": 800,
        "y": 740,
        "wires": []
    },
    {
        "id": "a3d3639bf4c33a5a",
        "type": "debug",
        "z": "d12867c082d92e22",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "4c1ec1e323d69b85",
        "type": "mqtt in",
        "z": "d12867c082d92e22",
        "name": "Random",
        "topic": "Random",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02daa27376c86de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "4b6914082ba73228",
                "fc69f87fe528e9bf"
            ]
        ]
    },
    {
        "id": "79fd18d85630bef5",
        "type": "random",
        "z": "d12867c082d92e22",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 480,
        "y": 760,
        "wires": [
            [
                "a3d3639bf4c33a5a",
                "1efc8608502718bf"
            ]
        ]
    },
    {
        "id": "e50d5bb8cfe3f2f1",
        "type": "inject",
        "z": "d12867c082d92e22",
        "d": true,
        "name": "10 secs",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 760,
        "wires": [
            [
                "79fd18d85630bef5"
            ]
        ]
    },
    {
        "id": "0b1c1db9818c26f8",
        "type": "inject",
        "z": "d12867c082d92e22",
        "name": "hello",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "1efc8608502718bf",
                "a3d3639bf4c33a5a"
            ]
        ]
    },
    {
        "id": "27ed318047856813",
        "type": "change",
        "z": "d12867c082d92e22",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "b06ae5387e2a559e"
            ]
        ]
    },
    {
        "id": "4b6914082ba73228",
        "type": "switch",
        "z": "d12867c082d92e22",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hello",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "27ed318047856813"
            ]
        ]
    },
    {
        "id": "b06ae5387e2a559e",
        "type": "rpi-gpio out",
        "z": "d12867c082d92e22",
        "name": "Green",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "fc69f87fe528e9bf",
        "type": "debug",
        "z": "d12867c082d92e22",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "58fb878145802572",
        "type": "debug",
        "z": "d12867c082d92e22",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "7759f02567e2d76b",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "686d0c9d71939d1c"
            ]
        ]
    },
    {
        "id": "5b30264444e4fa60",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "686d0c9d71939d1c"
            ]
        ]
    },
    {
        "id": "686d0c9d71939d1c",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "8ffd363af4dad72e",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "27",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "f6c9d16b45562a41",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "7f10269306993530",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "e4867a87f959e4f3",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "8ffd363af4dad72e"
            ]
        ]
    },
    {
        "id": "f7089312749ca435",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "8ffd363af4dad72e"
            ]
        ]
    },
    {
        "id": "36feb8cdae8deced",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "f6c9d16b45562a41"
            ]
        ]
    },
    {
        "id": "6f93579f3cfb6450",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "f6c9d16b45562a41"
            ]
        ]
    },
    {
        "id": "e17b617f9dcb73e9",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 660,
        "wires": [
            [
                "7f10269306993530"
            ]
        ]
    },
    {
        "id": "618a293a3be0e667",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 700,
        "wires": [
            [
                "7f10269306993530"
            ]
        ]
    },
    {
        "id": "739b93a1f5886a06",
        "type": "mqtt in",
        "z": "1472062f49c017cb",
        "name": "Location",
        "topic": "python/mqtt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "02daa27376c86de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "6a123941548f77c7",
                "74d0df394c40b983"
            ]
        ]
    },
    {
        "id": "d3d461f49fabeb05",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "e96373d6502d5db5",
                "0516fe49272854c8",
                "e5a92eee4a77ff7e"
            ]
        ]
    },
    {
        "id": "92238b7630c59431",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "d3d461f49fabeb05",
                "6696ab008824c279"
            ]
        ]
    },
    {
        "id": "e96373d6502d5db5",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "0516fe49272854c8",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "cef3d607de55f15b"
            ]
        ]
    },
    {
        "id": "cef3d607de55f15b",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "e96373d6502d5db5"
            ]
        ]
    },
    {
        "id": "c4232679c82d6b9b",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "climbing",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "climbing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "c709852dcf1d29e1"
            ]
        ]
    },
    {
        "id": "6134b0ad59b92093",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "work",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "work",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "7a66ef34aa4f1044"
            ]
        ]
    },
    {
        "id": "ed734c96773404dc",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "university",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "university",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 760,
        "wires": [
            [
                "82c38b81968b7bf6"
            ]
        ]
    },
    {
        "id": "c709852dcf1d29e1",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "43ad51414b35aead",
                "80eeb4ab0f008c99",
                "d86335d927d6ecdd"
            ]
        ]
    },
    {
        "id": "43ad51414b35aead",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 440,
        "wires": []
    },
    {
        "id": "7a66ef34aa4f1044",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 600,
        "wires": [
            [
                "5d195852da2d23da",
                "66b1b6d51e3b4b6d",
                "9a8d3aef090eca90"
            ]
        ]
    },
    {
        "id": "5d195852da2d23da",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 600,
        "wires": []
    },
    {
        "id": "82c38b81968b7bf6",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "3489278206f773a3",
                "29b86a1580f04e17",
                "0c69a75b287bca78"
            ]
        ]
    },
    {
        "id": "3489278206f773a3",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 760,
        "wires": []
    },
    {
        "id": "d55f6f66e484b96a",
        "type": "link in",
        "z": "1472062f49c017cb",
        "name": "link in 1",
        "links": [
            "ff0133f3294c5510",
            "74d0df394c40b983"
        ],
        "x": 535,
        "y": 460,
        "wires": [
            [
                "c4232679c82d6b9b",
                "6134b0ad59b92093",
                "ed734c96773404dc"
            ]
        ]
    },
    {
        "id": "80eeb4ab0f008c99",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "97b0e5fc9d5952db"
            ]
        ]
    },
    {
        "id": "97b0e5fc9d5952db",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "43ad51414b35aead"
            ]
        ]
    },
    {
        "id": "66b1b6d51e3b4b6d",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 660,
        "wires": [
            [
                "eab4ec8d280561f7"
            ]
        ]
    },
    {
        "id": "eab4ec8d280561f7",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 660,
        "wires": [
            [
                "5d195852da2d23da"
            ]
        ]
    },
    {
        "id": "29b86a1580f04e17",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 820,
        "wires": [
            [
                "17f32cdfac68f98a"
            ]
        ]
    },
    {
        "id": "17f32cdfac68f98a",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 820,
        "wires": [
            [
                "3489278206f773a3"
            ]
        ]
    },
    {
        "id": "6a123941548f77c7",
        "type": "debug",
        "z": "1472062f49c017cb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 360,
        "wires": []
    },
    {
        "id": "8f4473988ebac9f5",
        "type": "mqtt in",
        "z": "1472062f49c017cb",
        "name": "Home PIR",
        "topic": "home/presence",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "02daa27376c86de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "696a4ba00b1d8609",
                "92238b7630c59431"
            ]
        ]
    },
    {
        "id": "696a4ba00b1d8609",
        "type": "debug",
        "z": "1472062f49c017cb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "21bde08692250382",
        "type": "mqtt out",
        "z": "1472062f49c017cb",
        "name": "Acknowledgement",
        "topic": "home/presence/ack",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02daa27376c86de2",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "6696ab008824c279",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Ack",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 160,
        "wires": [
            [
                "21bde08692250382"
            ]
        ]
    },
    {
        "id": "71e2926d8029b7d8",
        "type": "function",
        "z": "1472062f49c017cb",
        "name": "msg payload processing",
        "func": "msg.payload = msg.payload.inregions[0];\nif (msg.payload == \"climbing\"){\n    msg.location = \"climbing\"\n    return msg;\n}\nif (msg.payload == \"work\"){\n    msg.location = \"work\"\n    return msg;\n}\nif (msg.payload == \"university\"){\n    msg.location = \"university\"\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 540,
        "wires": [
            [
                "ff0133f3294c5510"
            ]
        ]
    },
    {
        "id": "ff0133f3294c5510",
        "type": "link out",
        "z": "1472062f49c017cb",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "d55f6f66e484b96a"
        ],
        "x": 445,
        "y": 540,
        "wires": []
    },
    {
        "id": "74d0df394c40b983",
        "type": "link out",
        "z": "1472062f49c017cb",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d55f6f66e484b96a"
        ],
        "x": 445,
        "y": 460,
        "wires": []
    },
    {
        "id": "53f49f8c93b634cd",
        "type": "LCD-I2C",
        "z": "1472062f49c017cb",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "e5a92eee4a77ff7e",
        "type": "function",
        "z": "1472062f49c017cb",
        "name": "function 3",
        "func": "msg.payload = [\n    {\n        \"clear\": false,\n        \"text\": \"Call me whenever!\",\n        \"alignment\": \"left\"\n    }\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "53f49f8c93b634cd"
            ]
        ]
    },
    {
        "id": "8c6426c424954647",
        "type": "LCD-I2C",
        "z": "1472062f49c017cb",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 1320,
        "y": 400,
        "wires": []
    },
    {
        "id": "d86335d927d6ecdd",
        "type": "function",
        "z": "1472062f49c017cb",
        "name": "function 4",
        "func": "msg.payload = [\n    {\n        \"clear\": false,\n        \"text\": \"Home in 1 hour\",\n        \"alignment\": \"left\"\n    }\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "8c6426c424954647"
            ]
        ]
    },
    {
        "id": "7e8af51ebf01b4ca",
        "type": "LCD-I2C",
        "z": "1472062f49c017cb",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 1320,
        "y": 560,
        "wires": []
    },
    {
        "id": "9a8d3aef090eca90",
        "type": "function",
        "z": "1472062f49c017cb",
        "name": "function 5",
        "func": "msg.payload = [\n    {\n        \"clear\": false,\n        \"text\": \"In office :(\",\n        \"alignment\": \"left\"\n    }\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 560,
        "wires": [
            [
                "7e8af51ebf01b4ca"
            ]
        ]
    },
    {
        "id": "ce68d87afd139ab1",
        "type": "LCD-I2C",
        "z": "1472062f49c017cb",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 1320,
        "y": 720,
        "wires": []
    },
    {
        "id": "0c69a75b287bca78",
        "type": "function",
        "z": "1472062f49c017cb",
        "name": "function 6",
        "func": "msg.payload = [\n    {\n        \"clear\": false,\n        \"text\": \"Home/work at 13:30\",\n        \"alignment\": \"left\"\n    }\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 720,
        "wires": [
            [
                "ce68d87afd139ab1"
            ]
        ]
    },
    {
        "id": "e4126b3cdfc1c20e",
        "type": "rpi-gpio out",
        "z": "96cb48750b368e6e",
        "name": "servo",
        "pin": "14",
        "set": false,
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "bcm": true,
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "d0abea2d6d15f4ad",
        "type": "inject",
        "z": "96cb48750b368e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "e4126b3cdfc1c20e"
            ]
        ]
    },
    {
        "id": "090eaba82f262624",
        "type": "inject",
        "z": "96cb48750b368e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "e4126b3cdfc1c20e"
            ]
        ]
    },
    {
        "id": "bacd7dcf9550e574",
        "type": "inject",
        "z": "96cb48750b368e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "str",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "e4126b3cdfc1c20e"
            ]
        ]
    },
    {
        "id": "266e67063c0593f6",
        "type": "inject",
        "z": "96cb48750b368e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "e4126b3cdfc1c20e"
            ]
        ]
    },
    {
        "id": "ff57b5a8d8b756f9",
        "type": "inject",
        "z": "96cb48750b368e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "e4126b3cdfc1c20e"
            ]
        ]
    },
    {
        "id": "40b01bb18c788bc8",
        "type": "rpi-gpio in",
        "z": "c20ebb918e10caa2",
        "name": "PIR",
        "pin": "4",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "46ac524210f6bb4f"
            ]
        ]
    },
    {
        "id": "1fc9fc6e8639f41d",
        "type": "mqtt out",
        "z": "c20ebb918e10caa2",
        "name": "Home presence",
        "topic": "home/presence",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02daa27376c86de2",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "683a74c9680c94b1",
        "type": "change",
        "z": "c20ebb918e10caa2",
        "name": "Home movement",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "1fc9fc6e8639f41d",
                "aaf5a0e94f0131f1"
            ]
        ]
    },
    {
        "id": "aaf5a0e94f0131f1",
        "type": "debug",
        "z": "c20ebb918e10caa2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "46ac524210f6bb4f",
        "type": "switch",
        "z": "c20ebb918e10caa2",
        "name": "Movement detected",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "683a74c9680c94b1"
            ]
        ]
    },
    {
        "id": "b6873d6bfb9421cf",
        "type": "mqtt in",
        "z": "968ee3a954b5fe08",
        "name": "Location",
        "topic": "python/mqtt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "02daa27376c86de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "9d8fbdf1a151c2b5",
                "cb7abd771ee068da"
            ]
        ]
    },
    {
        "id": "7389511ca57ffcca",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 320,
        "wires": [
            [
                "203f1d3240cc5ce9",
                "453f4ec02eb66f91",
                "3058418d296e97ca"
            ]
        ]
    },
    {
        "id": "76301823ae98571a",
        "type": "switch",
        "z": "968ee3a954b5fe08",
        "name": "home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "7389511ca57ffcca"
            ]
        ]
    },
    {
        "id": "203f1d3240cc5ce9",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 380,
        "wires": [
            [
                "86b9265c14609048"
            ]
        ]
    },
    {
        "id": "86b9265c14609048",
        "type": "delay",
        "z": "968ee3a954b5fe08",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "453f4ec02eb66f91"
            ]
        ]
    },
    {
        "id": "587bd548c4364210",
        "type": "switch",
        "z": "968ee3a954b5fe08",
        "name": "climbing",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "climbing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "56163f7c79c48140"
            ]
        ]
    },
    {
        "id": "259e39f39902970a",
        "type": "switch",
        "z": "968ee3a954b5fe08",
        "name": "work",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "work",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "470b95ee309e60db"
            ]
        ]
    },
    {
        "id": "93b4b199dd03de77",
        "type": "switch",
        "z": "968ee3a954b5fe08",
        "name": "university",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "university",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 680,
        "wires": [
            [
                "a3806070c6d7542c"
            ]
        ]
    },
    {
        "id": "56163f7c79c48140",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "c36364f49f6f9070",
                "f6380d2dc1567ad9",
                "f454f4726ff98fbd"
            ]
        ]
    },
    {
        "id": "470b95ee309e60db",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 560,
        "wires": [
            [
                "881764a0150b95ef",
                "b91d024dbc8df8ee"
            ]
        ]
    },
    {
        "id": "a3806070c6d7542c",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 680,
        "wires": [
            [
                "791bb633a24a82c7",
                "5479ceb0a4e951a9"
            ]
        ]
    },
    {
        "id": "25ba5a26562fd0f9",
        "type": "link in",
        "z": "968ee3a954b5fe08",
        "name": "link in 2",
        "links": [
            "d4ce3adcdfe6a15e",
            "cb7abd771ee068da"
        ],
        "x": 555,
        "y": 500,
        "wires": [
            [
                "587bd548c4364210",
                "259e39f39902970a",
                "93b4b199dd03de77"
            ]
        ]
    },
    {
        "id": "c36364f49f6f9070",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 500,
        "wires": [
            [
                "1bca53ba0bdab4e5"
            ]
        ]
    },
    {
        "id": "1bca53ba0bdab4e5",
        "type": "delay",
        "z": "968ee3a954b5fe08",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "f6380d2dc1567ad9"
            ]
        ]
    },
    {
        "id": "881764a0150b95ef",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 620,
        "wires": [
            [
                "a05321a6dcfd7ed8"
            ]
        ]
    },
    {
        "id": "a05321a6dcfd7ed8",
        "type": "delay",
        "z": "968ee3a954b5fe08",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "b91d024dbc8df8ee"
            ]
        ]
    },
    {
        "id": "791bb633a24a82c7",
        "type": "change",
        "z": "968ee3a954b5fe08",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 740,
        "wires": [
            [
                "9a4e9c0953689b53"
            ]
        ]
    },
    {
        "id": "9a4e9c0953689b53",
        "type": "delay",
        "z": "968ee3a954b5fe08",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 740,
        "wires": [
            [
                "5479ceb0a4e951a9"
            ]
        ]
    },
    {
        "id": "9d8fbdf1a151c2b5",
        "type": "debug",
        "z": "968ee3a954b5fe08",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 400,
        "wires": []
    },
    {
        "id": "d667892aaf7574fe",
        "type": "mqtt in",
        "z": "968ee3a954b5fe08",
        "name": "Home PIR",
        "topic": "home/presence",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "02daa27376c86de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "5a32d1483cbbd7dd",
                "76301823ae98571a"
            ]
        ]
    },
    {
        "id": "5a32d1483cbbd7dd",
        "type": "debug",
        "z": "968ee3a954b5fe08",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "59b0abb6855cf8d8",
        "type": "function",
        "z": "968ee3a954b5fe08",
        "name": "msg payload processing",
        "func": "msg.payload = msg.payload.inregions[0];\nif (msg.payload == \"climbing\"){\n    msg.location = \"climbing\"\n    return msg;\n}\nif (msg.payload == \"work\"){\n    msg.location = \"work\"\n    return msg;\n}\nif (msg.payload == \"university\"){\n    msg.location = \"university\"\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 580,
        "wires": [
            [
                "d4ce3adcdfe6a15e"
            ]
        ]
    },
    {
        "id": "d4ce3adcdfe6a15e",
        "type": "link out",
        "z": "968ee3a954b5fe08",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "25ba5a26562fd0f9"
        ],
        "x": 465,
        "y": 580,
        "wires": []
    },
    {
        "id": "cb7abd771ee068da",
        "type": "link out",
        "z": "968ee3a954b5fe08",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "25ba5a26562fd0f9"
        ],
        "x": 465,
        "y": 500,
        "wires": []
    },
    {
        "id": "5479ceb0a4e951a9",
        "type": "rpi-gpio out",
        "z": "968ee3a954b5fe08",
        "name": "Green",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1150,
        "y": 680,
        "wires": []
    },
    {
        "id": "b91d024dbc8df8ee",
        "type": "rpi-gpio out",
        "z": "968ee3a954b5fe08",
        "name": "Green",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1150,
        "y": 560,
        "wires": []
    },
    {
        "id": "f6380d2dc1567ad9",
        "type": "rpi-gpio out",
        "z": "968ee3a954b5fe08",
        "name": "Green",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1150,
        "y": 440,
        "wires": []
    },
    {
        "id": "453f4ec02eb66f91",
        "type": "rpi-gpio out",
        "z": "968ee3a954b5fe08",
        "name": "Green",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1150,
        "y": 320,
        "wires": []
    },
    {
        "id": "340eeb972bb0054c",
        "type": "LCD-I2C",
        "z": "968ee3a954b5fe08",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 1340,
        "y": 240,
        "wires": []
    },
    {
        "id": "3058418d296e97ca",
        "type": "function",
        "z": "968ee3a954b5fe08",
        "name": "function 2",
        "func": "msg.payload = [\n    {\n        \"clear\": true,\n        \"text\": \"Call me whenever\",\n        \"alignment\": \"left\"\n    }\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "340eeb972bb0054c"
            ]
        ]
    },
    {
        "id": "ae1e0c5936c04a47",
        "type": "LCD-I2C",
        "z": "968ee3a954b5fe08",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 1440,
        "y": 400,
        "wires": []
    },
    {
        "id": "f454f4726ff98fbd",
        "type": "function",
        "z": "968ee3a954b5fe08",
        "name": "function 1",
        "func": "msg.payload = [\n    {\n        \"clear\": true,\n        \"text\": \"Back in 1 hour\",\n        \"alignment\": \"left\"\n    }\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 400,
        "wires": [
            [
                "ae1e0c5936c04a47"
            ]
        ]
    }
]