flows.json
[
    {
        "id": "d12867c082d92e22",
        "type": "tab",
        "label": "MQTT flow",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "4f7d529023a9b544",
        "type": "tab",
        "label": "Simple button",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "1472062f49c017cb",
        "type": "tab",
        "label": "Prototype",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3bdfb04da7eb1211",
        "type": "mqtt-broker",
        "d": true,
        "name": "CheerLights MQTT",
        "broker": "mqtt.cheerlights.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2524c4111e58b72d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "02daa27376c86de2",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "3585e2dbfcd948449aec8ccf1eb8912d.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "2524c4111e58b72d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1efc8608502718bf",
        "type": "mqtt out",
        "z": "d12867c082d92e22",
        "name": "Publish Random",
        "topic": "Random",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02daa27376c86de2",
        "x": 800,
        "y": 740,
        "wires": []
    },
    {
        "id": "a3d3639bf4c33a5a",
        "type": "debug",
        "z": "d12867c082d92e22",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "4c1ec1e323d69b85",
        "type": "mqtt in",
        "z": "d12867c082d92e22",
        "name": "Random",
        "topic": "Random",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "02daa27376c86de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "4b6914082ba73228",
                "fc69f87fe528e9bf"
            ]
        ]
    },
    {
        "id": "79fd18d85630bef5",
        "type": "random",
        "z": "d12867c082d92e22",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 480,
        "y": 760,
        "wires": [
            [
                "a3d3639bf4c33a5a",
                "1efc8608502718bf"
            ]
        ]
    },
    {
        "id": "e50d5bb8cfe3f2f1",
        "type": "inject",
        "z": "d12867c082d92e22",
        "d": true,
        "name": "10 secs",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 760,
        "wires": [
            [
                "79fd18d85630bef5"
            ]
        ]
    },
    {
        "id": "0b1c1db9818c26f8",
        "type": "inject",
        "z": "d12867c082d92e22",
        "name": "hello",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "1efc8608502718bf",
                "a3d3639bf4c33a5a"
            ]
        ]
    },
    {
        "id": "27ed318047856813",
        "type": "change",
        "z": "d12867c082d92e22",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "b06ae5387e2a559e"
            ]
        ]
    },
    {
        "id": "4b6914082ba73228",
        "type": "switch",
        "z": "d12867c082d92e22",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hello",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "27ed318047856813"
            ]
        ]
    },
    {
        "id": "b06ae5387e2a559e",
        "type": "rpi-gpio out",
        "z": "d12867c082d92e22",
        "name": "Green",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "fc69f87fe528e9bf",
        "type": "debug",
        "z": "d12867c082d92e22",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "58fb878145802572",
        "type": "debug",
        "z": "d12867c082d92e22",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "7759f02567e2d76b",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "686d0c9d71939d1c"
            ]
        ]
    },
    {
        "id": "5b30264444e4fa60",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "686d0c9d71939d1c"
            ]
        ]
    },
    {
        "id": "686d0c9d71939d1c",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "8ffd363af4dad72e",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "27",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "f6c9d16b45562a41",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "7f10269306993530",
        "type": "rpi-gpio out",
        "z": "4f7d529023a9b544",
        "name": "Green",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "e4867a87f959e4f3",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "8ffd363af4dad72e"
            ]
        ]
    },
    {
        "id": "f7089312749ca435",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "8ffd363af4dad72e"
            ]
        ]
    },
    {
        "id": "36feb8cdae8deced",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "f6c9d16b45562a41"
            ]
        ]
    },
    {
        "id": "6f93579f3cfb6450",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "f6c9d16b45562a41"
            ]
        ]
    },
    {
        "id": "e17b617f9dcb73e9",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 610,
        "y": 660,
        "wires": [
            [
                "7f10269306993530"
            ]
        ]
    },
    {
        "id": "618a293a3be0e667",
        "type": "inject",
        "z": "4f7d529023a9b544",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 610,
        "y": 700,
        "wires": [
            [
                "7f10269306993530"
            ]
        ]
    },
    {
        "id": "739b93a1f5886a06",
        "type": "mqtt in",
        "z": "1472062f49c017cb",
        "name": "Location",
        "topic": "owntracks/project/emu64xa",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "02daa27376c86de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "c6b554f83ddc6755",
                "6a123941548f77c7"
            ]
        ]
    },
    {
        "id": "d3d461f49fabeb05",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "e96373d6502d5db5",
                "0516fe49272854c8"
            ]
        ]
    },
    {
        "id": "92238b7630c59431",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "d3d461f49fabeb05"
            ]
        ]
    },
    {
        "id": "e96373d6502d5db5",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "c6b554f83ddc6755",
        "type": "function",
        "z": "1472062f49c017cb",
        "name": "function 1",
        "func": "msg.payload = msg.payload.inregions[0];\nif (msg.payload == \"home\"){\n    msg.location = \"home\"\n    return msg;\n}\nif (msg.payload == \"climbing\"){\n    msg.location = \"climbing\"\n    return msg;\n}\nif (msg.payload == \"work\"){\n    msg.location = \"work\"\n    return msg;\n}\nif (msg.payload == \"university\"){\n    msg.location = \"university\"\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "d57e3cacd9e8a0f0"
            ]
        ]
    },
    {
        "id": "0516fe49272854c8",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "cef3d607de55f15b"
            ]
        ]
    },
    {
        "id": "cef3d607de55f15b",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "e96373d6502d5db5"
            ]
        ]
    },
    {
        "id": "c4232679c82d6b9b",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "climbing",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "climbing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "c709852dcf1d29e1"
            ]
        ]
    },
    {
        "id": "6134b0ad59b92093",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "work",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "work",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "7a66ef34aa4f1044"
            ]
        ]
    },
    {
        "id": "ed734c96773404dc",
        "type": "switch",
        "z": "1472062f49c017cb",
        "name": "university",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "university",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 640,
        "wires": [
            [
                "82c38b81968b7bf6"
            ]
        ]
    },
    {
        "id": "c709852dcf1d29e1",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 400,
        "wires": [
            [
                "43ad51414b35aead",
                "80eeb4ab0f008c99"
            ]
        ]
    },
    {
        "id": "43ad51414b35aead",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "27",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "7a66ef34aa4f1044",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 520,
        "wires": [
            [
                "5d195852da2d23da",
                "66b1b6d51e3b4b6d"
            ]
        ]
    },
    {
        "id": "5d195852da2d23da",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "82c38b81968b7bf6",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 640,
        "wires": [
            [
                "3489278206f773a3",
                "29b86a1580f04e17"
            ]
        ]
    },
    {
        "id": "3489278206f773a3",
        "type": "rpi-gpio out",
        "z": "1472062f49c017cb",
        "name": "Green",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "d57e3cacd9e8a0f0",
        "type": "link out",
        "z": "1472062f49c017cb",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d55f6f66e484b96a"
        ],
        "x": 405,
        "y": 460,
        "wires": []
    },
    {
        "id": "d55f6f66e484b96a",
        "type": "link in",
        "z": "1472062f49c017cb",
        "name": "link in 1",
        "links": [
            "d57e3cacd9e8a0f0"
        ],
        "x": 535,
        "y": 460,
        "wires": [
            [
                "92238b7630c59431",
                "c4232679c82d6b9b",
                "6134b0ad59b92093",
                "ed734c96773404dc"
            ]
        ]
    },
    {
        "id": "80eeb4ab0f008c99",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 460,
        "wires": [
            [
                "97b0e5fc9d5952db"
            ]
        ]
    },
    {
        "id": "97b0e5fc9d5952db",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "43ad51414b35aead"
            ]
        ]
    },
    {
        "id": "66b1b6d51e3b4b6d",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 580,
        "wires": [
            [
                "eab4ec8d280561f7"
            ]
        ]
    },
    {
        "id": "eab4ec8d280561f7",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "5d195852da2d23da"
            ]
        ]
    },
    {
        "id": "29b86a1580f04e17",
        "type": "change",
        "z": "1472062f49c017cb",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 700,
        "wires": [
            [
                "17f32cdfac68f98a"
            ]
        ]
    },
    {
        "id": "17f32cdfac68f98a",
        "type": "delay",
        "z": "1472062f49c017cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 700,
        "wires": [
            [
                "3489278206f773a3"
            ]
        ]
    },
    {
        "id": "6a123941548f77c7",
        "type": "debug",
        "z": "1472062f49c017cb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 280,
        "wires": []
    }
]